// SETUP VARIABLES AND FONTS \\

@font-face {
  font-family: athene;
  src: url("./Athene.otf") format("opentype");
}
@font-face {
  font-family: courierNew;
  src: url("./cour.ttf");
}
:root {
  --clr-primary: #f87666;
  --clr-text: #312f2f;
  --clr-white: #ffffff;
  --clr-bg: #edeae4;
  --clr-alt-bg: #dac4f7;
  // --clr-primary: #f87666;
  // --clr-text: #312f2f;
  // --clr-white: #ffffff;

  --primary-font: athene, sans-serif;
  --second-font: courierNew;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  background: var(--clr-bg);
}

h1,
h2 {
  color: var(--clr-primary);
  font-family: var(--primary-font);
  font-weight: 200;
}

p,
li,
h3 {
  color: var(--clr-text);
  font-family: var(--second-font);
  font-size: 1.5rem;
}

// Attributes \\
.title {
  font-size: 5rem;
}
.subtitle {
  &--bold {
    font-weight: bold;
  }
  &--light {
    display: none;
    font-weight: 200;
    opacity: 0.6;
  }
}
.image {
  max-width: 100%;
}
.background__box {
  width: 60%;
  height: 80%;
  left: 10%;
  top: 10%;
  position: absolute;
  z-index: 0;
  background: var(--clr-white);
  transform-origin: bottom center;
}

// NAV \\
.nav {
  width: 250px;
  position: absolute;
  &__list {
    list-style: none;
  }
  &__links {
    position: relative;
    width: fit-content;
    & + * {
      margin-top: 0.8rem;
    }
    a {
      text-decoration: none;
      color: var(--clr-text);
    }
    &::after {
      content: "";
      background: var(--clr-primary);
      position: absolute;
      left: 1.6rem;
      bottom: 0;
      width: 8rem;
      height: 2.4rem;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.2s ease-out;
      z-index: -1;
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
}

// HERO \\

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  overflow: hidden;
  background: linear-gradient(0deg, var(--clr-bg) 0%, var(--clr-alt-bg) 100%);

  &__title {
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    top: 10%;
    left: 100%;
    white-space: nowrap;
  }
  &__subtitle {
    text-align: left;
    position: absolute;
    top: 25%;
    max-width: 14ch;
  }
  &__nav {
    top: 55%;
  }
}

// ABOUT \\

.about {
  height: 100vh;
  width: 100%;
  padding: 0 0.5rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  background: linear-gradient(180deg, var(--clr-bg) 0%, var(--clr-alt-bg) 100%);

  & * + * {
    margin-top: 0.8rem;
  }
  &__title {
    transform: rotate(270deg);
    transform-origin: left top;
    position: absolute;
    top: 90%;
    left: 0%;
    white-space: nowrap;
  }
  &__info {
    font-size: 1.2rem;
  }
  &__image {
    width: Min(60%, 25rem);
    align-self: flex-end;
    margin-right: 1.5rem;
    margin-top: 1.5rem;
  }
  &__background {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: auto;
    background: none;
  }
}

// PROJECTS \\

.projects {
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: hidden;
  a {
    text-decoration: none;
  }
  &__container {
    margin-top: 1rem;
    height: 15rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    &:hover > .projects__image {
      filter: blur(0rem);
    }
    &:hover > .projects__subtitle {
      filter: blur(0.2rem);
      z-index: 0;
    }
  }
  &__image {
    filter: blur(0.2rem);
    transition: filter 0.2s ease-out;
    height: 80%;
    position: absolute;
  }
  &__subtitle {
    position: relative;
    font-size: 4rem;
    width: 5ch;
    text-indent: -3rem;
    z-index: 1;
    transition: filter 0.2s ease-out;
    &--sml {
      left: -10%;
      font-size: 2.5rem;
    }
  }
}

//portfolio pages \\
.portfolio {
  &__hero {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 1fr);
    overflow: hidden;
  }
  &__content {
    width: 100%;
    height: 125vh;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    overflow: hidden;
    margin-bottom: 5rem;
  }
  &__title {
    font-size: 4rem;
    grid-column: 2/8;
    grid-row: 1/2;
    text-align: center;
    &--sml {
      font-size: 1.8rem;
      padding: 2rem 0;
    }
    &--mid {
      font-size: 3.5rem;
    }
  }
  &__info {
    grid-column: 6/-1;
    grid-row: 4/9;
    padding-top: 1rem;
    span {
      font-style: italic;
      font-size: 1rem;
      padding-top: 0.5rem;
      display: block;
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    &--hero {
      grid-row: 1/3;
      grid-column: 6/-1;
      margin-left: 7rem;
    }
    &--heroTwo {
      grid-row: 2/8;
      grid-column: 1/7;
      margin-left: -3rem;
    }
    &--one {
      grid-row: 1/5;
      grid-column: 1/-1;
      margin-left: -6rem;
    }
    &--two {
      grid-row: 5/11;
      grid-column: 6/-1;
      padding-top: 1rem;
      margin-left: 5rem;
    }
    &--three {
      grid-row: 11/16;
      grid-column: 1/-1;
      margin-left: -6rem;
    }
  }
  &__button {
    color: var(--clr-text);
    font-size: 1.8rem;
    margin-top: 1rem;
    display: block;
    &:hover,
    &:focus {
      color: var(--clr-primary);
    }
  }
}

.loadingCover {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: var(--clr-alt-bg);
  z-index: 100;
}

// MEDIA QRY \\

@media (min-width: 500px) {
  .portfolio {
    &__image {
      &--hero {
        grid-column: 6/-1;
      }
      &--heroTwo {
        grid-column: 1/6;
      }
      &--one {
        grid-column: 1/14;
      }
      &--two {
        grid-column: 8/-1;
      }
      &--three {
        grid-column: 1/14;
      }
    }
    &__info {
      padding-top: 0;
    }
  }
}

@media (min-width: 768px) {
  .hero {
    padding: 7rem 6rem;
    &__title {
      transform: rotate(0);
      transform-origin: center center;
      position: relative;
      top: 0;
      left: 0;
    }
    &__subtitle {
      position: relative;
      font-size: 1.8rem;
      max-width: 20ch;
    }
    &__nav {
      top: 50%;
    }
  }
  .projects {
    &__section {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &__subtitle {
      width: 6ch;
      text-indent: 0;
      text-align: center;

      &--sml {
        font-size: 3rem;
        text-align: center;
      }
    }
  }

  .portfolio {
    padding: 1rem 0.5rem;
    &__title {
      &--sml {
        font-size: 2.5rem;
        padding: 1rem 0;
      }
    }
    &__hero {
      height: 60vh;
    }
    &__image {
      &--hero {
        grid-column: 8/-1;
        grid-row: 1/4;
        margin: 0;
      }
      &--heroTwo {
        grid-column: 1/5;
        grid-row: 2/11;
        margin: 0;
      }
      &--one {
        grid-column: 1/12;
        margin: 0;
      }
      &--two {
        grid-column: 9/-1;
        margin-left: 3rem;
      }
      &--three {
        grid-column: 1/11;
        margin-left: 1rem;
      }
    }
    &__info {
      grid-column: 8/-1;
      grid-row: 5/10;
    }
  }
}
@media (min-width: 1024px) {
  li {
    font-size: 2rem;
  }
  .hero {
    padding: 8rem 7rem;
    &__title {
      transform: rotate(0);
      font-size: 6.5rem;
      transform-origin: center center;
      position: relative;
      top: 0;
      left: 0;
    }
    &__subtitle {
      font-size: 2.2rem;
    }
    &__nav {
      top: 50%;
    }
  }
  //portfolio pages \\
  .portfolio {
    &__hero {
      padding: 1rem 2rem;
      display: grid;
      column-gap: 1.5rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr 1fr 1fr;
      align-items: center;
    }
    &__content {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      .portfolio__image {
        width: 100%;
        height: auto;
        & + * {
          margin-top: 2rem;
        }
        &--two {
          height: 30rem;
          width: auto;
        }
      }
    }
    &__title {
      grid-column: 1/2;
      grid-row: 2/3;
      &--sml {
        font-size: 3rem;
      }
      &--mid {
        font-size: 4rem;
      }
    }
    &__info {
      grid-column: 1/2;
      grid-row: 3/4;
      margin-top: 1rem;
    }

    &__image {
      &--hero {
        grid-row: 2/4;
        padding-bottom: 2rem;
        grid-column: 2/-1;
      }
      &--heroTwo {
        display: none;
      }
      &--one,
      &--two,
      &--three {
        margin: 0;
        padding: 0;
      }
    }
    &__button {
      display: inline;
      font-size: 2rem;
      &:first-of-type::before {
        content: "";
        display: block;
        padding-top: 1rem;
      }
    }
  }
}
